extends layout

block content
	form(action="test", method="POST")
		input(type="text" value="test" name="route")
		input(type="text" value="testName" name="name")
		input(type="submit" value="send")