doctype html
html(lang='es')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
		meta(name="theme-color", content="white")
		//link(rel="shortcut icon" href="/img/icon.png")
		title anatomy
		// CSS
		block css
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		//script(src="https://use.fontawesome.com/b1b012da8d.js")
		link(href='public/css/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
		//Js
		link(href='public/css/select2.min.css', rel='stylesheet')
		//Style

		block style
	body
		nav.blue-grey.darken-3
			.nav-wrapper
				if userName != ""
					ul.right.hide-on-med-and-down
						li
							a.tooltipped(href='/anatomy', data-position='bottom', data-delay='50', data-tooltip='Inicio')
								i.material-icons home
						li
							a.tooltipped(href='add', data-position='bottom', data-delay='50', data-tooltip='Nuevo')
								i.material-icons add
						//li
							a.tooltipped(href='marking', data-position='bottom', data-delay='50', data-tooltip='Editar')
								i.material-icons mode_edit
						li
							a.tooltipped(href='exit', data-position='bottom', data-delay='50', data-tooltip='Salir')
								i.material-icons exit_to_app
		//Contenido
		block content

		// Scripts
		script(src='public/js/jquery.min.js')
		script(src='public/js/select2.min.js')
		script(src='public/js/materialize.min.js')
		script(src='public/js/vue.min.js')
		script#helper(src='public/js/main.js', data-origin="#{origin}")
		
		block js
