extends layout

block content
	.container
		.section
			.row
				.col.s12.m8.offset-m2
					h4.center.light Debe ingresar para acceder a esta función.
					form#formLogin(method='POST', onsubmit="login(event);")
						h3.col.s12.center Ingreso
						.input-field.col.s10.offset-s1
							input#txtuserName.validate.black-text(type='text', name='username', required)
							label(for='txtuserName') User
						.input-field.col.s10.offset-s1
							input#txtpass.validate.black-text(type='password', name='password', required)
							label(for='txtpass') Contraseña
						.col.s12
							p.red-text.errText.center(style='display: none;') Usuario o contraseña incorrecta!
							button#btnSend.btn.blue.darken-3.col.s4.offset-s4.waves-effect.waves-ligh(type="submit") Ingresar